@import '@fontsource-variable/plus-jakarta-sans';
@import '@fontsource-variable/jetbrains-mono';
@import './base.css';
@import 'tailwindcss';
@import '@nuxt/ui';

body {
  overflow: hidden;
  user-select: none;
  background-color: var(--color-background);
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 36px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
}
h2 {
  font-size: 32px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
}
h3 {
  font-size: 24px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
