@import '@fontsource-variable/plus-jakarta-sans';
@import '@fontsource-variable/jetbrains-mono';
@import './base.css';
@import 'tailwindcss';
@import '@nuxt/ui';

body {
  overflow: hidden;
  user-select: none;
  background-color: var(--color-background);
  padding: 0;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
